<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='css/dep.css')}}">
        <title>Localité du Bénin</title>
    </head>
    <body>
        
        <form action="{{url_for('search_com')}}" method="POST">

            <div class = "container">
                
                <h1>Dans quel departement vous situez vous ?</h1>
                
    
                <select name="dep" id="dep">
                    <option value="ALIBORI">ALIBORI</option>
                    <option value="ATACORA">ATACORA</option>
                    <option value="DONGA">DONGA</option>
                    <option value="BORGOU">BORGOU</option>
                    <option value="COLLINES">COLLINES</option>
                    <option value="ZOU">ZOU</option>
                    <option value="PLATEAU">PLATEAU</option>
                    <option value="OUEME">OUEME</option>
                    <option value="MONO">MONO</option>
                    <option value="COUFFO">COUFFO</option>
                    <option value="ATLANTIQUE">ATLANTIQUE</option>
                    <option value="LITTORAL">LITTORAL</option>
                </select>
                <button type="submit">submit</button>
            </div>
        </form> 

        
        
    </body>
</html>

            